{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'sass/styles.scss' %}">

<section class="header-section">
  <div class="header-content">
    <div class="logo-container">
      <a href="{% url 'dashboard' %}">
        <img src="{{ logo_src }}" alt="Logo" class="logo">
      </a>
    </div>

    <div class="menu" id="menu">
      <button id="printButton" class="print-button">
        <i class="fas fa-file-alt"></i> Certificate Details
      </button>
      <button id="botonToggle" class="boton-superior">Go back</button>
    </div>

    <div class="hamburger" id="hamburger">&#9776;</div>
  </div>
</section>

<section class="certificate-section">
  <div id="previewFrame" class="iframe-container">
    <img src="{{ image_content }}" alt="Certificate">
  </div>
</section>

<section class="certificate-section-v2">
  <div id="detailsFrame" style="display: none;">
    <iframe src="{{ certificate_url }}"></iframe>
  </div>
</section>

<script>
  const boton = document.getElementById('botonToggle');
  const printButton = document.getElementById('printButton');
  const previewFrame = document.getElementById('previewFrame');
  const detailsFrame = document.getElementById('detailsFrame');
  const hamburger = document.getElementById('hamburger');
  const menu = document.getElementById('menu');

  let isDetailsShown = false;

  window.addEventListener('DOMContentLoaded', () => {
    previewFrame.style.display = 'block';
    detailsFrame.style.display = 'none';
    printButton.innerHTML = '<i class="fas fa-file-alt"></i> Certificate Details';
    localStorage.setItem('lastVisited', window.location.href);
  });

  boton.addEventListener('click', () => {
    if (window.innerWidth <= 768) {
      menu.classList.remove('show');
    }
    history.back();
  });

  printButton.addEventListener('click', () => {
    if (isDetailsShown) {
      previewFrame.style.display = 'block';
      detailsFrame.style.display = 'none';
      printButton.innerHTML = '<i class="fas fa-file-alt"></i> Certificate Details';
    } else {
      previewFrame.style.display = 'none';
      detailsFrame.style.display = 'block';
      printButton.innerHTML = '<i class="fas fa-image"></i> Certificate Summary';
    }

    if (window.innerWidth <= 768) {
      menu.classList.remove('show');
    }

    isDetailsShown = !isDetailsShown;
  });

  hamburger.addEventListener('click', () => {
    menu.classList.toggle('show');
  });
</script>
{% endblock %}